name: deploy-client

on:
  push:
    branches:
      - master
    paths:
      - "client/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: cd client && docker build --target prod -t 29ff/ticketapp-client .
      - run: docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      - run: docker push 29ff/ticketapp-client
      - uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.PROVIDER_ACCESS_TOKEN }}
      - run: doctl kubernetes cluster kubeconfig save ticketapp-prod
      - run: kubectl rollout restart deployment client-depl
